
body {
  /* 
  font-family: 'Roboto', monospace;
  */
  font-family: Times;
}

::selection {
  background: black;
  color: white;
  text-shadow: none;
}

h1, h2, h3 {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

/* get rid of default link styling */
a {
  text-decoration-line: inherit;
  color: inherit;
}

h2 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}


.page {
  width: 800px;
  margin: auto;
}

.navbar {
  margin: 32px;
  margin-left: 16px;
}

.navbar-name {
  font-size: 32px;
  /* display: inline; */
  margin-right: 50px;
  border: 2px dashed black;
  padding-right: 5px;
  padding-left: 5px;

}

.navbar-name:hover {
  background: black;
}

.navbar-menu {
  /* display: inline; */
  align: right;
  
}

.navbar-item {
  font-size: 24px; 

  margin-left: 8px;
  margin-right: 8px;

  border: 2px dashed black;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-item:hover {
  background: black;
}

.project-thumb-container {
  /* 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  display: block;
  */
}

.project-thumb {
  height: 180px;
  width: 600px;
  border: 2px dashed black;
  margin: 16px;

  /* get alignment right */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  
}

.project-thumb:hover {
  /* 
  border: 2px dashed black;
  color: red;
  background: red;
  */
}

.project-thumb-text {
  /* 
  */
  height: 180px;
  width: 420px; /* image is 150px, total box width is 600px */

  /* this black magic centers the inside text children */
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;


  /* get rid of link styles */
  
  /* uncomment this for auto-centering
   * https://css-tricks.com/centering-css-complete-guide/
   */
  /* margin: 0 auto; */
}

/* get rid of default link styling */
.project-thumb-link {
  text-decoration-line: inherit;
  color: inherit;
}

.project-main-image {
  height: 400px;
  width: auto;
}

.project-image {
  height: 300px;
  width: auto;
}

.blogpost {

}

.blogpost {

}

/* uncomment for debugging
* {
   border: 1px solid red !important;
} */
