
body {
  font-family: 'Roboto', monospace;
}

.navbar {
}

.navbar-name {
  font-size: 32px;
  /* display: inline; */
  margin-right: 50px;

}

.navbar-menu {
  /* display: inline; */
  align: right;
  
}

.navbar-item {
  margin-left: 8px;
  margin-right: 8px;
}

.project-thumb-container {
  /* 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  */
  display: block;
}

.project-thumb {
  height: 150px;
  width: 400px;
  display: block;
}

.project-main-image {
  height: 400px;
  width: auto;
}

.project-image {
  height: 300px;
  width: auto;
}

/* 
* {
   border: 1px solid red !important;
}
*/
