
body {
  font-family: 'Roboto', monospace;
}

.navbar {
}

.navbar-name {
  font-size: 32px;
  /* display: inline; */
  margin-right: 50px;

}

.navbar-menu {
  /* display: inline; */
  align: right;
  
}

.navbar-item {
  margin-left: 8px;
  margin-right: 8px;
}

.project-thumb-container {
  /* 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  */
  display: block;
}

.project-thumb {
  height: 150px;
  width: 600px;
  display: flex;
  border: 2px dashed black;
  /* 
  flex-wrap: nowrap;
  */
}

.project-thumb-text {
  /* 
  vertical-align: middle;
  */
  height: 150px;
  width: 450px; /* image is 150px */
  align: middle;
  text-align: center;
  
  /* uncomment this for auto-centering
   * https://css-tricks.com/centering-css-complete-guide/
   */
  /* margin: 0 auto; */
}

.project-main-image {
  height: 400px;
  width: auto;
}

.project-image {
  height: 300px;
  width: auto;
}

/* uncomment for debugging
* {
   border: 1px solid red !important;
} */
